@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>
        To proceed further please
        @Html.ActionLink("Sing in", "LogIn", "Account") or @Html.ActionLink("Create new account", "Register", "Account").
    </h2>

</div>